<%= content_for :js do %>
<script type='text/javascript'>

    var map;

    var pMarker;
    var markers = {};

    function placeMarker( lat, long, label )
    {
        var latLng = new google.maps.LatLng( lat, long );

        return new google.maps.Marker( {
            position: latLng,
            map:         map,
            title:     label
        } );

    }

    function propertyID( prop ) {
        return parseInt( $(prop).children( "input.prop-id" ).first().val() );
    }

    function highlightMarker( e ) {
        var id = propertyID( this );

        pMarker.setAnimation(                             null );
        markers[id].setAnimation( google.maps.Animation.BOUNCE );
    };

    function resetHighlight( e ) {
        var id = propertyID( this );

        pMarker.setAnimation( google.maps.Animation.BOUNCE );
        markers[id].setAnimation(                     null );
    };

    $( function() { 
        
        $( "#similar_list li").hover( highlightMarker, resetHighlight );

        var center = new google.maps.LatLng( <%=  @property.latitude %>,
                                             <%= @property.longitude %> );

        map = new google.maps.Map( $('#map')[0], {

            zoom:                                 16,
            center:                           center,
            mapTypeId: google.maps.MapTypeId.ROADMAP

        } );

        var circle = new google.maps.Circle( {
            
            center:         center,
            clickable:       false,
            map:               map,
            radius:          20000,
            strokeColor: "#73b0cc",
            fillColor:   "#73b0cc"

        } );

        map.fitBounds( circle.getBounds() );

        pMarker = placeMarker( <%=         @property.latitude %>,
                               <%=        @property.longitude %>,
                               <%= raw @property.name.inspect %> );

        pMarker.setAnimation(                  google.maps.Animation.BOUNCE );
        pMarker.setIcon( "http://maps.google.com/mapfiles/marker_green.png" );

        <% @similar.each do |prop| -%>

        var sMarker = placeMarker( <%=         prop.latitude %>,
                                   <%=        prop.longitude %>,
                                   <%= raw prop.name.inspect %> );

        markers[<%= prop.id %>] = sMarker;

        <% end -%>

    } );

</script>
<% end -%>

<div id='property_wrap'>

<div class='row'>

    <div class='span4'>
        <div id="current_property">
            <%= render partial:                'properties', 
                       locals:  { properties: [@property] } %>
        </div>
        <div id="similar_list">
            <%= render partial:                'properties', 
                       locals:     { properties: @similar } %>
        </div>
    </div>

    <div id="map_view" class='rounded span8'>
        <div id="map" ></div>
    </div>

</div>

<div class='row'><%= render 'back' %></div>

</div>
